<header id="nav-menu" aria-label="navigation bar">
    <div class="container-menu">
      <div class="nav-start">
        <!--LOGO; HOMPAGE-->
        <a class="logo" href="/">
          步行臺中
        </a>
        <!--NAVIGATION BAR - MENU-->
        <nav class="menu">
          <ul class="menu-bar">
            <!-- MENU ITEM 1; DROPDOWN MENU 1
            <li>
                 BUTTON FOR DROPDOWN MENU 1
              <button
                class="nav-link dropdown-btn"
                data-dropdown="dropdown1"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="browse"
              >
                改革困境
                <i class="bx bx-chevron-down" aria-hidden="true"></i> DOWN ARROW ICON
              </button>
              CONTENT OF DROPDOWN MENU 1
              <div id="dropdown1" class="dropdown">
                <ul role="menu">
  
                  <li role="menuitem">
                    <a class="dropdown-link" href="">
                      政策與執法
                    </a>
                  </li>
  
                  <li role="menuitem">
                    <a class="dropdown-link" href="">
                      設備設計問題
                    </a>
                  </li>
  
                  <li role="menuitem">
                    <a class="dropdown-link" href="">
                    文化與教育問題
                    </a>
                  </li>
                 
                </ul>
            </div>
            MENU ITEM 2; DROPDOWN MENU 2
            <li>
                BUTTON FOR DROPDOWN MENU 2
              <button
                class="nav-link dropdown-btn"
                data-dropdown="dropdown2"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="discover"
              >
                改革方法
                <i class="bx bx-chevron-down" aria-hidden="true"></i>
              </button>
              CONTENT OF DROPDOWN MENU 2
              <div id="dropdown2" class="dropdown">
                <ul role="menu">
                  <li role="menuitem">
                    <a class="dropdown-link" href="">人行道</a>
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-link" href="#illustrations"
                      >交叉路口</a
                    >
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-link" href="#illustrations"
                      >停車問題</a
                    >
                  </li>
                </ul>
              </div>
            </li>  -->
            <!--OTHER MENU ITEMS-->
            <li><a class="nav-link" href="/blog/">所有文章</a></li>
            <li><a class="nav-link" href="/about/">簡介</a></li>
            <li><a class='nav-link' href='/resources/'>城市規劃資源</a><li> 
          </ul>
        </nav>
      </div>
  
      <!--SEARCH BOX AND PROFILE ICON-->
  
      <!-- <div class="nav-end">
        <div class="right-container">
          <form class="search" role="search">
            <input type="search" name="search" placeholder="Search" />
            <i class="bx bx-search" aria-hidden="true"></i>
          </form>
  
          <a href="#profile">
            <img
              src="/assets/images/user.jpg"
              width="30"
              height="30"
              alt="user image"
            />
          </a>
          <button class="btn btn-primary">Create</button>
        </div> -->
  
        <!--HAMBURGER MENU-->
        <button
        id="hamburger"
        aria-label="hamburger"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="bx bx-menu" aria-hidden="true"></i>
      </button>
        
      
    </div>
  </header>