---
title: 簡介
layout: 'base.njk'
---
<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">
            <h1 class="section-title">步行臺中的起源</h1>
            <p>受到來自多方資訊和交通安全改善倡導者的啟發，有一天，我忽然回頭看了一眼我現在生活的台中，並希望能做出類似的努力！這個網站正是我用來分享自己在城市規劃方面知識與觀點的地方。儘管可能還有許多不足之處，但我希望自己也能像曾經受到啟發一樣，激勵更多的人。</p>
        </div>
    <div>
        <img src="/images/IMG_20230707_182422.jpg" alt="" class="hero__image">
    </div>
</div>
</section>

<section>
    <div class="container flow">
        <div class="hero__content flow">
            <h1 class="section-title">嗨！我是 <span>楊智富</span></h1>
            <p>2022年，我從越南飛到台灣留學。我就讀於中興大學的外國語文系。等等，好像有點不對勁……讀外文系的竟然在寫城市規劃的主題？你可能不知道，文學和社會科學領域的一個重要特點就是它能啟發人們去思考生活中的各種問題，而正是這種啟發促使我去發展和探索不同的領域。</p>
            <p>剛到台灣時，我對這裡的交通系統感到非常敬佩，因為我的家鄉——胡志明市的交通狀況極其混亂。然而，讓我驚訝的是，每次我稱讚台灣或台中交通良好時，大家總是用一種奇怪和懷疑的眼神看著我：「台灣交通好？真的假的？」</p>
            <p>
                在台灣學習和工作的這段時間裡，我也逐漸發現了這裡交通的一些不足之處。此外，這期間我有機會通過YouTube和其他平台接觸到有關城市規劃的內容，於是慢慢地，我產生了想要分享這些觀點，並為台中的改善盡一份力的想法。
            </p>
            <p>當然，我並不認為自己能做出什麼偉大的貢獻，但至少我可以分享這些想法。也許透過這些分享，能讓更多人了解到更好的規劃方式，而台中也因此能變得更加美好呢！</p>
        </div>
        <div class="contact">
            <a href='https://www.facebook.com/ytp109' target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href='mailto:johndoe@fakeemail.com'><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </div>
        <div>
            <img src="/images/about-image.jpg" alt="">
        </div>
    </div>
</section>

<section class="highlight">
    <div class="container flow">
      <div class="highlight__content flow">
        <h1 class="highlight-title">在2024年，我寫了一份關於臺中交通的報告</h1>
        
        <p>
          本報告綜合了關於建構臺中行人安全交通的基本概念和解決方案，這些概念和方案基於作者的個人知識與觀點，可能存在錯誤或不足之處。
        </p>
        <p>
          然而，若您正尋求對人本交通（以人為本的交通）這一概念的基本
          介紹，並希望探討臺中交通問題，這份報告將是一個不錯的起點!
        </p>
        <a href="/pdf/reports/2024/Taichung_Traffic_Report_2024.pdf" download="一些臺中交通的基本問題與可行的改善方法:從人行道、路口和停車問題看臺中交通.pdf" class="btn btn--neutral"><i class="fa fa-download"></i>  下載報告 [PDF]</a>
      </div>
      <div>
        <img src="/images/report-cover-image.png" class="highlight__image">
      </div>
    </div>
  </section>

