---
title: 步行臺中
layout: 'base.njk'
---
            <section class="hero">
              <div class="container flow">
                  <div class="hero__content flow">
                    <h1 class="section-title">歡迎來到步行臺中</h1>
                    <p>這個網站匯總了我所探索的所有有關「人本交通」發展的資訊，以及我對於將其應用於台中的看法。</p>
                    <p>以下是我最喜愛的一些文章，您也可以前往部落格頁面查看我所有的文章~</p>
                    <div class="flex-group">
                      <a href="#featured-articles" class="btn btn--primary">精選文章</a>
                      <a href="/blog/" class="btn btn--neutral">所有文章</a>
                      <a href="/resources/" class="btn btn--neutral">城市規劃資源</a>
                    </div>
                  </div>
                  <div>
                    <img src="/images/IMG_20250108_073832.jpg" alt="" class="hero__image">
                  </div>
              </div>
            </section>

            <section class="highlight">
              <div class="container flow">
                <div class="highlight__content flow">
                  <h1 class="highlight-title">一些臺中交通的基本問題與可行的改善方法 </h1>
                  
                  <p>報告《一些臺中交通的基本問題與可行的改善方法：從人行道、路
                    口和停車問題看臺中交通》由 楊智富 同學撰寫，作者目前為外國語文系三年級學生。 
                  </p>
                  <p>
                    本報告綜合了關於建構臺中行人安全交通的基本概念和解決方案，這些概念和方案基於作者的個人知識與觀點，可能存在錯誤或不足之處。
                  </p>
                  <p>
                    然而，若您正尋求對人本交通（以人為本的交通）這一概念的基本
                    介紹，並希望探討臺中交通問題，這份報告將是一個不錯的起點!
                  </p>
                  <a href="/pdf/reports/2024/Taichung_Traffic_Report_2024.pdf" download="一些臺中交通的基本問題與可行的改善方法:從人行道、路口和停車問題看臺中交通.pdf" class="btn btn--neutral"><i class="fa fa-download"></i>  下載報告 [PDF]</a>
                </div>
                <div>
                  <img src="/images/report-cover-image.png" class="highlight__image">
                </div>
              </div>
            </section>
      
      
            <section id="featured-articles" class="featured-articles">
              <div class="container flow">
                <h2 class="section-title">
                  精選文章
                </h2>
                <p>
                  以下是一些優質文章，可以讓您對這個網站的內容有更深入的了解。
                </p>

               
                  <!-- <div class="category">
                    <article class="btn--neutral btn flow">
                      <p>人本交通設計與分析</p>
                    </article>
                    <article class="btn--neutral btn flow">
                      <p>國際案件</p>
                    </article>
                    <article class="btn--neutral btn flow">
                      <p>臺中相關資訊</p>
                    </article>
                  </div>
           -->
      
                <ul role="list" class="articles__list flow">
                  {%- for post in collections.featured | reverse -%}
                        {%include 'article-snippet.njk'%}
                {%- endfor %}
                </ul>
              </div>
            </section>
    

