---
title: 城市規劃資源
layout: 'base.njk'
---
<section class="flow container">
    <h1 class="section-title">城市規劃資源</h1>
    <ul class="resources-list">
        <li class="flow">
            <img class="resources-image" src="/images/not-just-bikes.png" alt="">
            <div class="resources__content flow">
                <a href="https://www.youtube.com/@NotJustBikes"><h3>Not Just Bikes</h3></a>
                <p>探討精心設計的城市空間帶來的好處，特別關注交通運輸、步行便利性和宜居城市，並以荷蘭的城市規劃模式為重點。</p>
                <a href="https://www.youtube.com/@NotJustBikes" class="btn btn--primary">前往資源</a>
            </div>
        </li>
        <li class="flow">
            <img class="resources-image" src="/images/eyes-on-place.png" alt="">
            <div class="resources__content flow"></div>
                <a href="https://eyesonplace.net/"><h3>眼底城事</h3></a>
                <p>一個以中文為主的平台，分享關於城市生活、城市規劃和交通系統的個人觀察和故事，強調深思熟慮且可持續的設計理念。</p>
                <a href="https://eyesonplace.net/" class="btn btn--primary">前往資源</a>
            </div>
        </li>
        <li class="flow">
            <img class="resources-image" src="/images/city-beautiful.jpg" alt="">
            <div class="resources__content flow">
                <a href="https://www.youtube.com/@CityBeautiful"><h3>City Beautiful</h3></a>
                <p>一個視覺吸引人的頻道，提供城市規劃的歷史背景、設計原則以及對未來的願景，專注於為每個人創造更美好的城市。</p>
                <a href="https://www.youtube.com/@CityBeautiful" class="btn btn--primary">前往資源</a>
            </div>
        </li>
        <li class="flow">
            <img class="resources-image" src="/images/oh-the-urbanity!.jpg" alt="">
            <div class="resources__content flow">
                <a href="https://www.youtube.com/@OhTheUrbanity"><h3>Oh The Urbanity!</h3></a>
                <p>一個幽默又具洞察力的部落格和 YouTube 頻道，深入討論城市規劃、交通系統以及城市生活中的趣事。</p>
                <a href="https://www.youtube.com/@OhTheUrbanity" class="btn btn--primary">前往資源</a>
            </div>
        </li>
        <li class="flow">
            <img class="resources-image" src="/images/bicycle-dutch.jpg" alt="">
            <div class="resources__content flow">
                <a href="https://bicycledutch.wordpress.com/"><h3>Bicycle Dutch</h3></a>
                <p>深入介紹荷蘭的自行車基礎設施，展示如何通過周到的設計和政策，使騎自行車成為一種安全、實用且愉快的交通方式。</p>
                <a href="https://bicycledutch.wordpress.com/" class="btn btn--primary">前往資源</a>
            </div>
        </li>
    </ul>
</section>